.toolbar
  //height: 40px
  background: #777
  color: #eee
  font-size: 12px

.button
.dropdown
  background: #555
  height: 100%
  padding: 10px 20px
  margin-right: 10px
  display: inline-block
  cursor: pointer

  &:hover
    background: #333


.logo
  background: #555
  width: 100px
  height: 100%
  padding: 10px 20px
  margin-right: 10px
  display: inline-block
  text-indent: -200%

.search
  width: 200px
  padding: 5px 10px
  background: #555
  border-radius: 20px
  border: 0
  outline: none
  display: inline-block
  margin-right: 10px
  color: #eee

.refresh
.account
  float: right

.account
  margin-right: 0